body {
  /* background-color: coral; */
  /* min-height: 200vh; */
  /* background-image: url(../assets/forest.jpg), url("../assets/sea.jpg"); */
  /* background-repeat: no-repeat, no-repeat; */
  /* background-repeat: no-repeat; */
  /* background-repeat: no-repeat, repeat; */
  /* background-position: top left, bottom right; */

  margin: 0;
  min-height: 100vh;
  /* background-image: url(../assets/forest.jpg);
  background-repeat: no-repeat; */
  /* background-size: cover; */
  /* background-size: contain; */
  /* background-size: auto; */
  /* background-size: 500px 500px; */

  /* background-image: linear-gradient(0deg, blue, green 40%, red 100%); */
  /* background-image: linear-gradient(0.25turn, red, 20%, blue); */
  background-image: linear-gradient(to top right, red 0 50%, blue 50% 100%);
}
